Result/
Pix2Pix_T1_T1C.log
Pix2Pix_T1_T2.log
Pix2Pix_T1C_T1.log
Pix2Pix_T1C_T2.log
Pix2Pix_T2_T1.log
Pix2Pix_T2_T1C.log
CycleGAN_T1_T1C.log
CycleGAN_T1_T2.log
CycleGAN_T1C_T2.log
DDPM_T1_T1C.log
DDPM_T1_T2.log
.gitignore
DDPM_T1C_T1.log
.gitignore
RegGAN_T1_T1C.log
DDPM_T1C_T2.log
RegGAN_T1_T2.log
RegGAN_T1C_T1.log
RegGAN_T1C_T2.log
RegGAN_T2_T1.log
.gitignore
DDPM_T2_T1.log
DDPM_T2_T1C.log
RegGAN_T2_T1C.log
Seg_T1.log
Seg_T1C.log
Seg_T2.log
